<div class="container">
  <h1>Add a restaurant</h1>

  <%= render "form", restaurant: @restaurant %>

  <p class="mt-3"><%= link_to "Back to all restaurants", restaurants_path, class: "btn btn-success" %></p>
</div>
